
body#bd{background:#f5f5f5;color:black;}
a{color:#e2227c;}
a.contentpagetitle{color:#ffeb00;}
a:hover, a:active, a:focus{color:#08c;}
a.readon{color: white;
padding: 2px 6px;
box-shadow: 1px 1px 2px #CCC;
border: solid 1px #ffeb00;
border-radius: 2px;
background: #09F;
background: -webkit-linear-gradient(top, #e2227c, #e2227c);}
a.readon:hover, a.readon:active, a.readon:focus{background:-webkit-linear-gradient(top, #09F, #09F);background:-moz-linear-gradient(top, #09F, #09F);background:-ms-linear-gradient(top, #09F, #09F);background:-o-linear-gradient(top, #09F, #09F);}
h1.componentheading, .componentheading{}
.componentheading{/*border-bottom:1px solid #e5e5e5;*/border-bottom:none;}
h2.contentheading, .contentheading{}
h2.contentheading a, .contentheading a{color:#151515;}
small, .small{color:#656565;}
.column ul li{background:url(../../images/white/bullet7.gif) no-repeat 20px 8px;}
.column ol li ul li{background:url(../../images/white/bullet7.gif) no-repeat 20px 12px;}
hr{border-top:1px solid #e5e5e5;}
.inputbox, input#image, input#url{background-image:url(../../images/white/grad-bg.gif);background-color:#e5e5e5;border:1px solid #ffffff;color:#353535;}
#ja-search .button{background:url(../../images/search-btn.gif);border:none;height:24px;width:24px;margin:0;padding:0;text-indent:-999em;}
form#searchForm{border-top:1px solid #e5e5e5;}
.searchintro{border-bottom:1px solid #e5e5e5;}
#component-contact #emailForm{border-top:1px solid #e5e5e5;}
.leading{border-bottom:1px solid #e5e5e5;}
.article_row{border-bottom:1px solid #e5e5e5;width: 96%;}
.article-tools{color:#656565;}
.article-section, .article-category{color:#656565;}
.createby{background-image:url(../../images/white/icon-user.gif);}
.createdate{background-image:url(../../images/white/icon-date.gif);color:#656565;}
.modifydate{color:#656565;}
.contentdescription{border-bottom:1px solid #e5e5e5;}
.buttonheading img{margin:0;visibility:hidden;width:1px;}
.img_caption{color:#656565;}
.article-content img,
.article-content div.img_caption{background:#e5e5e5;border:1px solid #ffffff;
width: 220px;
}
.img_caption p{background:#e5e5e5;color:#656565;}
.article-image span{background:#e5e5e5;border:1px solid #ffffff;}
.sectiontableheader{background:#e5e5e5;border:1px solid #ffffff;color:#151515;}
.sectiontableheader a,
.sectiontableheader a:hover,
.sectiontableheader a:focus,
.sectiontableheader a:active{color:#151515;}
.sectiontableentry,
.sectiontableentry0,
.sectiontableentry1,
.sectiontableentry2{border-bottom:1px dotted #ffffff;}
.sectiontableentry:hover,
.sectiontableentry0:hover,
.sectiontableentry1:hover,
.sectiontableentry2:hover{background-color:#e5e5e5;}
.sectiontableentry2{background-color:#e5e5e5;}
table.contentpaneopen{border-collapse:collapse;}
table.contenttoc{border:1px solid #ffffff;}
table.contenttoc td{background-image:url(../../images/white/bullet.png);}
table.contenttoc th{background:#e5e5e5;border-bottom:1px solid #ffffff;}
form#poll{border-bottom:1px dotted #e5e5e5;}
dl.poll{border-bottom:1px dotted #e5e5e5;}
table.pollstableborder td{background:#f5f5f5;border-bottom:1px solid #ffffff;}
table.pollstableborder tr.sectiontableentry0 td,
table.pollstableborder tr.sectiontableentry1 td{background:#e5e5e5;}
ul.pagination a{background:#08c;border:1px solid #ffffff;color:#ffffff;}
ul.pagination a:hover, ul.pagination a:active, ul.pagination a:focus{background:#e5e5e5;border:1px solid #08c;color:#353535;}
.counter span{background:#08c;border:1px solid #08c;color:#ffffff;}
.blog_more{border-bottom:1px solid #e5e5e5;}
.blog_more ul li{background-image:url(../../images/white/bullet.png);}
div.ja-moduletable h3, div.moduletable h3{color:#151515;}
#ja-search .inputbox{_background:url(../../images/search-bg.png) no-repeat 0px 0px;}
div.bannergroup_text div.banneritem_text{border-bottom:1px dotted #e5e5e5;}
div.bannergroup_text div.bannerheader,
div.bannergroup_text div.bannerfooter_text a{color:#656565;}
div.ja-module h3, div.module h3{color:#151515;}
.ja-box-br{background-image:url(../../images/white/b-br.gif);background-color:#f5f5f5;}
.ja-box-bl{background-image:url(../../images/white/b-bl.gif);}
.ja-box-tr{background-image:url(../../images/white/b-tr.gif);}
.ja-box-tl{background-image:url(../../images/white/b-tl.gif);}
div.module_hilite{background-image:url(../../images/white/bh-br.gif);background-color:#e5e5e5;}
div.module_hilite .ja-box-bl{background-image:url(../../images/white/bh-bl.gif);}
div.module_hilite .ja-box-tr{background-image:url(../../images/white/bh-tr.gif);}
div.module_hilite .ja-box-tl{background-image:url(../../images/white/bh-tl.gif);}
.column div.module_hilite ul li{background-image:url(../../images/white/bullet9.gif);}
div.module_dark{background-image:url(../../images/white/b-bl-box-dark.gif);}
div.module_dark .ja-box-bl{background-image:url(../../images/white/b-br-box-dark.gif);}
.column div.module_dark ul li{background-image:url(../../images/white/bullet9.gif);}
div.module_square h3{/*background-image:url(../../images/white/mainnav-bg.gif);*/}
#ja-container{/*background-image:url(../../images/white/container-bg.gif);*/}
.ja-content-top{border-bottom:1px solid #e5e5e5;}
.ja-col div.ja-moduletable h3{/*background-image:url(../../images/white/mainnav-bg.gif);*/}
#ja-footer{border-top:1px solid #ccc6af;margin:0;height:auto;width:100%;overflow:hidden;width:996px;padding:10px;margin:0 auto;margin-bottom:10px;border:solid 1px #CCC;border-top:none;background:#F37600;background:-webkit-linear-gradient(top, #F88C00, #F37600);background:-moz-linear-gradient(top, #F88C00, #F37600);background:-ms-linear-gradient(top, #F88C00, #F37600);background:-o-linear-gradient(top, #F88C00, #F37600);}
span.menu-desc{color:#656565;}
#ja-subnav{/*background-image:url(../../images/white/mainnav-bg.gif);*/}
#ja-subnav ul li a{background-image:url(../../images/white/bullet3.gif);color:#353535;}
#ja-subnav ul li a:hover,
#ja-subnav ul li a.active{background-image:url(../../images/white/bullet4.gif);color:#08c;}
#ja-subnav ul.active li a:hover{color:#08c;}
#ja-subnav ul span.menu-desc{color:#656565;}
#ja-subnav ul li ul{background-image:url(../../images/white/mainnav-grad.gif);background-color:#f5f5f5;border:1px solid #ffffff;color:#353535;}
#ja-subnav ul li.haschild a.haschild span.menu-title{background-image:url(../../images/white/arrow-01.gif);}
#ja-subnav ul li.hover a.haschild span.menu-title{background-image:url(../../images/white/arrow3.png);}
#ja-subnav ul li.haschild li a.haschild span.menu-title, #ja-subnav ul li.hover li a.haschild span.menu-title{background-image:url(../../images/white/arrow3.png);}
#ja-subnav ul li ul li{background-image:url(../../images/white/line-sep.gif);border-bottom:1px solid #f5f5f5;}
#ja-subnav ul li ul li a{border:0 !important;}
#ja-subnav ul li ul li a.active{color:#08c !important;}
#ja-subnav ul li li.haschild a.haschild span.menu-title{background-image:url(../../images/white/arrow-01.gif);}
.ja-navhelper .main{color:#656565;}
.ja-navhelper .inner{background-image:url(../../images/white/grad-bg.gif);background-color:#e5e5e5;border:1px solid #ffffff;border-radius:5px;}
.ja-navhelper a{color:#08c;}
.ja-links li.top a{background-image:url(../../images/white/arrow2.png);}
.ja-links li.top a:hover{background-color:#08c;color:#ffffff;}
.ja-links li.layout-switcher a{background:#08c;color:#ffffff;}
.ja-links li.layout-switcher a:hover{background:#656565;color:#ffffff;}
.ja-links li.user-reset a:hover{background:#08c;color:#ffffff;}
#ja-container ul.menu li{border-bottom:1px dotted #e5e5e5;}
#ja-container ul.menu li a{background-image:url(../../images/white/bullet3.gif);background-color:#f5f5f5;color:#353535;}
#ja-container ul.menu li a:hover,
#ja-container ul.menu li a:active,
#ja-container ul.menu li a:focus{background-image:url(../../images/white/bullet4.gif);background-color:#f5f5f5;color:#08c;}
#ja-container ul.menu li.active a{color:#08c;}
#ja-container ul.menu li li{border-top:1px dotted #e5e5e5;}
#ja-container ul.menu li li a{background-image:url(../../images/white/bullet5.gif);color:#353535 !important;}
#ja-container ul.menu li li a:hover,
#ja-container ul.menu li li a:active,
#ja-container ul.menu li li a:focus{background-image:url(../../images/white/bullet6.gif);color:#08c !important;}
#ja-container ul.menu li li li a{background-image:url(../../images/white/bullet.png) !important;}
#ja-container ul.menu li li li a:hover,
#ja-container ul.menu li li li a:active,
#ja-container ul.menu li li li a:focus{background-image:url(../../images/white/bullet8.gif) !important;}
#ja-container ul.menu li li li li a{color:#656565 !important;}
#ja-container ul.menu li.active > a{color:#08c !important;}
#ja-topsl li{background-image:url(../../images/white/bullet.png);}
#ja-topsl h3{/*background-image:url(../../images/white/mainnav-bg.gif);*/}
#ja-botsl a:hover, #ja-botsl a:active, #ja-botsl a:focus{color:#08c;}
#ja-botsl a.readon{color:#08c;}
#ja-botsl a.hilite{color:#08c;}
.ja-footnav li a:hover, .ja-footnav li a:active, .ja-footnav li a:focus{color:#08c;}
div.ja-twitter div.ja-twitter-item{border-top:1px dotted #e5e5e5;}
div.ja-twitter div.ja-twitter-date{color:#656565;}
ul.ja-bullettin li{border-bottom:1px solid #e5e5e5;}
ul.ja-bullettin span{color:#656565;}
.norite .container .ja-tabs-title-top ul.ja-tabs-title li h3{background-image:url(../../images/white/mainnav-sep.gif);color:#656565;}
.norite .container .ja-tabs-title-top ul.ja-tabs-title li.hover{background-color:#e5e5e5;}
.norite .container .ja-tabs-title-top ul.ja-tabs-title li.hover h3{color:#151515;}
.norite .container .ja-tabs-title-top ul.ja-tabs-title li.active{background-image:url(../../images/white/tab_active_bg.gif);background-color:#e5e5e5;}
.norite .container .ja-tabs-title-top ul.ja-tabs-title li.active h3{color:#08c;}
.norite .ja-tab-panels-top{background-color:#e5e5e5;}
.norite .container .mostread{color:#353535;}
.norite .ja-tab-content li{background-image:url(../../images/white/dot-sep2.gif) !important;}
.norite ul.ja-bullettin img{background:#f5f5f5;border:1px solid #ffffff;padding:4px;}
ja-tab-content{}
.ja-slidenews-item{border-bottom:1px dotted #e5e5e5;width: 220px;}
.ja-slidenews-item .ja-title{color:#08c;}
.ja-slidenews-item .ja-createdate{color:#656565;}
.ja-createby, .ja-createdate, .ja-category{color:#656565;}
div.ja-innerdiv{border-bottom:1px solid #e5e5e5;}
div.ja-innerdiv img{border:1px solid #ffffff;}
.module_hilite blockquote.testimonial{background-image:url(../../images/white/testimonial-bg.gif);}
.author{color:#656565;}
.author a, .author_info{color:#656565;}
.author a:hover{color:#151515;}
div.ja-thumb img{background:#e5e5e5;border:1px solid #ffffff;}
.module_bordertb{border-bottom:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}
.ja-slide-buttons span{color:#08c;}
.ja-slide-thumb, .ja-slide-thumbs-handles span{background-image:url(../../images/white/circle-bg.gif);}
.ja-slide-thumbs-handles span.active{background-image:url(../../images/white/circle-active.gif);}
div.ja-moduletable .ja-slide-desc h3{color:#08c;text-shadow:1px 1px 0 #ccc;}
.maskDesc{background-image:url(../../images/white/shadow.png);}
.little_desc{color:#656565;}
.btn_link{background-image:url(../../images/white/button-bg.gif);}
.btn_link:hover{background-image:url(../../images/white/button-bg2.gif);}
.ja-home #ja-splitmenu{background-image:url(../../images/white/mainnav-sep.gif);}
#ja-splitmenu li{background-image:url(../../images/white/mainnav-sep.gif);}
#ja-splitmenu a{color:#656565;}
#ja-splitmenu a:hover,
#ja-splitmenu a:active,
#ja-splitmenu a:focus{color:#08c;}
#ja-splitmenu li.active a,
#ja-splitmenu li.active a:hover,
#ja-splitmenu li.active a:active,
#ja-splitmenu li.active a:focus{background-image:url(../../images/white/mainnav-active.gif);color:#08c;}
.ja-home #jasdl-mainnav{background-image:url(../../images/white/mainnav-sep.gif);}
#jasdl-mainnav li{background-image:url(../../images/white/mainnav-sep.gif);}
#jasdl-mainnav a{color:#656565;}
#jasdl-mainnav a:hover,
#jasdl-mainnav ul li.hover a{color:#08c;}
#jasdl-mainnav li.active a,
#jasdl-mainnav li.active a:hover,
#jasdl-mainnav li.active a:active,
#jasdl-mainnav li.active a:focus{background-image:url(../../images/white/mainnav-active.gif);color:#08c;}
.ja-home .ja-cssmenu{background-image:url(../../images/white/mainnav-sep.gif);}
#ja-cssmenu li{}
#ja-cssmenu li.first-item{
	/*margin-left:12px;*/}
#ja-cssmenu li a{}
#ja-cssmenu li a:hover,
#ja-cssmenu li a:active,
#ja-cssmenu li a:focus,
#ja-cssmenu li a.sfhover{}
#ja-cssmenu li:hover,
#ja-cssmenu li.sfhover,
#ja-cssmenu li.havechildsfhover,
#ja-cssmenu li.havechild-activesfhover{color:#08c;}
#ja-cssmenu li a.active,
#ja-cssmenu li a.active:active,
#ja-cssmenu li a.active:hover,
#ja-cssmenu li a.active:focus{}
#ja-cssmenu li ul{background-image:none !important;background-color:#FAF7F7;border:1px solid #ccc;width:180px;padding:10px 8px;}
ul#ja-cssmenu{
	display: inline;
	margin-right:5px;
	}
#ja-cssmenu li ul li{background-image:none !important;text-transform:none !important;color:white !important;border-bottom:solid 1px orange !important;width:auto;padding: 5px;width: 150px;}
#ja-cssmenu li ul a{background-image:url(../../images/white/bullet.png);background-position:left -100px;text-transform:none !important;padding:8px 0 8px 8px !important;}
#ja-cssmenu li a.active, #ja-cssmenu li a.active:active, #ja-cssmenu li a.active:hover, #ja-cssmenu li a.active:focus {
color: #e2227c;

}
#ja-cssmenu li.havesubchild a.haschild span.menu-title,
#ja-cssmenu li.havesubchildsfhover a.haschild span.menu-title,
#ja-cssmenu li.havesubchild-active a.haschild span.menu-title{background-image:url(../../images/white/arrow-01.gif);}
#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus,
#ja-cssmenu ul li:hover,
#ja-cssmenu ul li.sfhover,
#ja-cssmenu ul li.havesubchildsfhover,
#ja-cssmenu ul li.havesubchild-activesfhover,
#ja-cssmenu ul ul li:hover,
#ja-cssmenu ul ul li.sfhover,
#ja-cssmenu ul ul li.havesubchildsfhover,
#ja-cssmenu ul ul li.havesubchild-activesfhover{color:#08c;text-transform:none !important;}
#ja-cssmenu ul li a.active:hover,
#ja-cssmenu ul li a.active:focus,
#ja-cssmenu li ul a:hover,
#ja-cssmenu li ul a:active,
#ja-cssmenu li ul a:focus{background-image:url(../../images/white/bullet.png) !important;text-transform:none !important;}
#ja-cssmenu ul li a.active,
#ja-cssmenu ul li a.active:hover,
#ja-cssmenu ul li a.active:active,
#ja-cssmenu ul li a.active:focus{background-image:url(../../images/white/bullet.png) !important;text-transform:none !important;}
.ja-megamenu a.over, .ja-megamenu a.active{color:#08c;}
.ja-home .ja-megamenu{}
.ja-home .ja-megamenu .first{background:none;padding-left:0;margin-left:0;}
.ja-home .ja-megamenu .last{padding-right:0;margin-right:0;}
ul.level0 li.mega{background-image:url(../../images/white/mainnav-sep.gif);}
ul.level0 li.mega a.mega{color:#656565;}
ul.level0 li.mega span.menu-desc{color:#656565;}
ul.level0 li.mega a.over, ul.level0 li.haschild-over a.over{color:#08c;}
ul.level0 li.active a.mega,
ul.level0 li.active a.over{color:#08c;}
ul.level1 li.mega{background-image:url(../../images/white/line-sep.gif);}
ul.level1 li.mega a.mega{color:#353535;}
ul.level1 li.haschild a.haschild span{background-image:url(../../images/white/arrow-01.gif);}
ul.level1 li.haschild-over a.haschild span{background-image:url(../../images/white/arrow-01.gif);}
ul.level1 li.over a.over,
ul.level1 li.haschild-over a.over{color:#08c;}
ul.level1 li.active a.active{color:#353535;}
ul.level1 li.group{background:none;}
ul.level1 .childcontent .tl{}
.childcontent .top{background-image:url(../../images/white/dot-sep.gif);}
.childcontent .ml{background-image:url(../../images/white/mega-bg.png);}
.childcontent .childcontent-inner{background-image:url(../../images/white/mega-bg-m.png);}
.childcontent .mr{background-image:url(../../images/white/mega-bg.png);}
ul.level1 .childcontent .top{background-image:url(../../images/white/mega-bg-m2.png);}
ul.level1 .childcontent .tl{background-image:url(../../images/white/mega-bg2.png);}
ul.level1 .childcontent .tr{background-image:url(../../images/white/mega-bg2.png);}
ul.level1 .childcontent .ml{background-image:url(../../images/white/mega-bg2.png);}
ul.level1 .childcontent .mr{background-image:url(../../images/white/mega-bg2.png);}
ul.level1 .childcontent .childcontent-inner{background-image:url(../../images/white/mega-bg-m2.png);}
.childcontent .ja-moduletable{color:#353535;}
.childcontent .ja-moduletable h3{border-bottom:1px dotted #f5f5f5;color:#353535;}
.childcontent .ja-moduletable a{border-bottom:1px dotted #353535;color:#353535 !important;}
.childcontent .ja-moduletable a:hover,
.childcontent .ja-moduletable a:focus,
.childcontent .ja-moduletable a:active{border-bottom:1px dotted #08c;color:#08c !important;}
.childcontent .ja-moduletable li{background-image:url(../../images/white/bullet.png) !important;}
.childcontent .ja-moduletable li:hover{background-image:url(../../images/white/bullet8.gif) !important;}
.group-title{background:#e5e5e5;border:1px solid #ffffff;}
.group-title a{color:#656565 !important;}
.group-title .menu-desc{color:#656565;}
ul.level0 li.mega .childcontent .childcontent-inner li a{background-image:url(../../images/white/bullet3.gif);}
ul.level0 li.mega .childcontent .childcontent-inner li a:hover,
ul.level0 li.mega .childcontent .childcontent-inner li a:focus,
ul.level0 li.mega .childcontent .childcontent-inner li a.active{background-image:url(../../images/white/bullet4.gif);color:#08c;}
pre, .code{background:#e5e5e5;border-color:#08c !important;}
.dropcap{color:#08c;}
blockquote span.open{}
blockquote span.close{background-image:url(../../images/white/sc-q.gif);}
.highlight{background:#08c;color:#ffffff;}
ul.bookmark-links li{background-image:url(../../images/white/arrow.png) !important;border-bottom:1px dotted #e5e5e5;}
.bignumber-1, .bignumber-2, .bignumber-3{background-image:url(../../images/white/numberlist-bg.png);color:#ffffff;}
div.bubble-l1 span.arrow, div.bubble-l2 span.arrow{background-image:url(../../images/white/bubble-l.png);}
div.bubble-d1 span.arrow, div.bubble-d2 span.arrow{background-image:url(../../images/white/bubble-d.png);}
div.bubble-hl1 span.arrow, div.bubble-hl2 span.arrow{background-image:url(../../images/white/bubble-hl.png);}
div.bubble-l1 div.box-ct{background:#e5e5e5;}
div.bubble-l1 .tl, div.bubble-l1 .tr, div.bubble-l1 .bl, div.bubble-l1 .br{background-color:#f5f5f5;background-image:url(../../images/white/bubble-l.png);}
div.bubble-l2 div.box-ct{background:#e5e5e5;}
div.bubble-d1 div.box-ct{background:#656565;color:#ffffff;}
div.bubble-d1 div.tl, div.bubble-d1 div.tr, div.bubble-d1 div.bl, div.bubble-d1 div.br{background-color:#f5f5f5;background-image:url(../../images/white/bubble-d.png);}
div.bubble-d2 div.box-ct{background:#656565;color:#ffffff;}
div.bubble-hl1 .box-ct{background:#08c;color:#ffffff;}
div.bubble-hl1 div.tl, div.bubble-hl1 div.tr, div.bubble-hl1 div.bl, div.bubble-hl1 div.br{background-color:#f5f5f5;background-image:url(../../images/white/bubble-hl.png);}
div.bubble-hl2 div.box-ct{background:#08c;color:#ffffff;}
.box-sticky, .box-download, .box-grey, .box-hilite{border:3px solid #e5e5e5;}
.box-sticky{background-color:#e5e5e5;border-color:#e5e5e5;}
.box-download{background-color:#e5e5e5;border-color:#fff;}
.box-grey{background-color:#e5e5e5;border-color:#e5e5e5;color:#353535;}
.box-hilite{border-color:#08c;color:#353535;}
.legend-title{background:#f5f5f5;border:1px solid #e5e5e5;color:#151515;text-shadow:1px 1px 0 #ccc;}
.legend{border:3px solid #e5e5e5;}
.legend-hilite .legend-title{background:#08c;color:#ffffff;}
.legend-hilite{border:3px solid #e5e5e5;}
div.ja-adv{border:1px solid #ffffff;}
div.ja-adv span.sponsor{color:#656565;}
.highslide-header{border-bottom:1px solid #e5e5e5;}
.highslide img{border:1px solid #ffffff;}
.highslide:hover img{border:1px solid #e5e5e5 !important;}
.column div.moduletable_badge{border-color:#e5e5e5;}
p.message{color:#656565;}
pre, .code{border-color:#08c !important;}
#k2Container .row_separator{border-bottom:1px solid #e5e5e5;}
.commentslink{background-image:url(../../images/white/commentButton.gif);}
.recaptchatable .recaptcha_image_cell,
#recaptcha_table{background-color:#151515 !important;}
#recaptcha_table{border-color:#e5e5e5 !important;}
#recaptcha_response_field{background-color:#151515 !important;border-color:#e5e5e5 !important;}
div.k2Pagination{color:#656565;}
span.itemEditLink{border-bottom:2px dashed #e5e5e5;}
div.ItemHeader span.itemAuthor{color:#656565;}
div.itemToolbar{border-bottom:1px dotted #e5e5e5;border-top:1px dotted #e5e5e5;}
div.itemToolbar ul li{border-color:#e5e5e5 !important;}
div.ItemRatingBlock span{color:#656565;}
span.ItemImage img{background:#e5e5e5;border:1px solid #ffffff;}
span.ItemImageCaption{color:#656565;}
span.ItemImageCredits{color:#656565;}
div.ItemIntroText img{background:#e5e5e5;border:1px solid #ffffff;}
div.itemFullText img{background:#e5e5e5;border:1px solid #ffffff;}
div.ItemLinks{border-bottom:1px dotted #e5e5e5;color:#656565;}
div.modifydate{border-top:1px dotted #e5e5e5;}
div.itemHitsTwitter{border-top:1px dotted #e5e5e5;}
span.itemHits{color:#656565;}
span.itemHits b{color:#08c;}
span.itemHitsTwitterSep{color:#656565;}
div.ItemCategory{border-top:1px dotted #e5e5e5;}
div.ItemTagsBlock{border-top:1px dotted #e5e5e5;}
div.itemSocialLinksBlock{border-top:1px dotted #e5e5e5;}
div.itemSocialLinksBlock span{color:#656565;}
div.ItemAttachmentsBlock{border-top:1px dotted #e5e5e5;}
div.ItemAttachmentsBlock span{color:#656565;}
div.ItemAttachmentsBlock ul.ItemAttachments li span{color:#656565;}
div.itemAuthorBlock{background:#e5e5e5;border:1px solid #ffffff;}
div.itemAuthorBlock img.itemAuthorAvatar{background:#e5e5e5;border:1px solid #ffffff;}
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorUrl,
div.itemAuthorBlock div.itemAuthorDetails span.itemAuthorEmail{background-image:url(../../images/white/bullet.png);}
div.itemVideoBlock{background-color:#e5e5e5;}
div.itemVideoBlock span.itemVideoCaption{color:#656565;}
div.itemVideoBlock span.itemVideoCredits{color:#656565;}
div.ItemNavigation{border-bottom:1px dotted #e5e5e5;border-top:1px dotted #e5e5e5;}
div.ItemNavigation span.ItemNavigationTitle{color:#656565;}
div.itemComments ul.itemCommentsList li{border-bottom:1px solid #e5e5e5;}
div.itemComments ul.itemCommentsList li.even{background:#e5e5e5 !important;}
div.itemComments ul.itemCommentsList li img{background:#e5e5e5;border:1px solid #ffffff;}
div.itemComments ul.itemCommentsList li span.commentDate{border-color:#e5e5e5 !important;color:#656565;}
div.itemComments ul.itemCommentsList li span.commentAuthorName{color:#656565;}
div.itemComments ul.itemCommentsList li span.commentLink a{color:#656565;}
div.itemComments ul.itemCommentsList li span.commentLink a:hover{border-bottom:1px dotted #08c;color:#08c;}
div.itemCommentsForm h4.itemCommentsFormTitle{color:#08c;}
div.itemCommentsForm form .inputbox{background:#e5e5e5;border:1px solid #ffffff;color:#656565;}
div.itemCommentsForm form input.button{background-image:url(../../images/white/button-bg.gif);color:#656565;border-radius:5px;}
div.itemCommentsForm form input.button:hover{background-image:url(../../images/white/button-bg2.gif);}
div.itemBackToTop a{color:#656565;}
div.itemBackToTop a:hover{border-bottom:1px dotted #08c;color:#08c;}
div.itemListCategory{border-bottom:1px solid #e5e5e5;}
span.catItemAddLink{border-bottom:2px dashed #e5e5e5;}
div.itemListCategory img{background:#e5e5e5;border:1px solid #ffffff;}
div.itemListCategory h2{color:#151515;}
div.itemListSubCategories h2{color:#151515;}
div.subCategory h3 a{color:#151515;}
a.subCategoryMore{color:#08c;}
div.subCategory a.subCategoryImage img,
div.subCategory a.subCategoryImage:hover img{background:#e5e5e5;border:1px solid #ffffff;}
.list_primary{border-top:1px dotted #e5e5e5;}
.ja-firstPrimary{border-top:0 !important;}
span.catItemEditLink{border-bottom:2px dashed #e5e5e5;}
div.ItemHitsBlock{border-top:1px dotted #e5e5e5;}
span.ItemHits b{color:#08c;}
div.catItemVideoBlock{background-color:#e5e5e5;}
div.catItemCommentsLink{border-color:#e5e5e5 !important;}
div.catItemCommentsLink a{color:#656565;}
div.userBlock{background:#e5e5e5;border:1px solid #ffffff;}
span.userItemAddLink{border-bottom:2px dashed #e5e5e5;}
div.userBlock img{background:#e5e5e5;border:1px solid #ffffff !important;}
div.userBlock p.userAdditionalInfo{border-top:1px dotted #e5e5e5;}
span.userURL{color:#656565;}
span.userEmail{color:#656565;}
div.userItemViewUnpublished{background:#e5e5e5;border:4px dashed #e5e5e5;}
span.userItemEditLink{border-bottom:2px dashed #e5e5e5;}
div.userItemCommentsLink{border-color:#e5e5e5 !important;}
div.latestItemsCategoryImage img{background:#e5e5e5;border:1px solid #ffffff;}
div.latestItemsCategory h2.componentheading{color:#656565;}
div.latestItemsCategory h2.componentheading a{color:#656565;}
div.latestItemsUser{background:#e5e5e5;border:1px solid #ffffff;}
div.latestItemsUser img{background:#e5e5e5;border:1px solid #ffffff;}
div.latestItemsUser p.latestItemsUserAdditionalInfo{border-top:1px dotted #e5e5e5;}
span.latestItemsUserURL{color:#656565;}
span.latestItemsUserEmail{color:#656565;}
div.latestItemVideoBlock{background-color:#e5e5e5;}
div.latestItemCommentsLink{border-color:#e5e5e5 !important;}
img.k2AccountPageImage{border:4px solid #e5e5e5;}
.k2AccountPage div.k2AccountPageUpdate{border-top:1px dotted #e5e5e5;}
div.k2LatestCommentsBlock ul.ja-itemlist li,
div.k2ItemsBlock ul.ja-itemlist li,
div.k2AuthorsListBlock ul.ja-itemlist li{border-bottom:1px dotted #e5e5e5;}
div.k2ItemsBlock a.ja-title{color:#353535;}
div.k2LatestCommentsBlock ul li img.lcAvatar{background:#e5e5e5;border:1px solid #ffffff;}
div.k2LatestCommentsBlock ul li span.lcComment a{color:#353535;}
div.k2LatestCommentsBlock ul li span.lcUsername{border-color:#656565 !important;color:#656565;}
div.k2LatestCommentsBlock ul li span.lcCommentDate{color:#656565;}
div.k2LatestCommentsBlock ul li span.lcItemTitle a,
div.k2LatestCommentsBlock ul li span.lcItemCategory a{color:#353535;}
div.k2TopCommentersBlock ul li img.tcAvatar{background:#151515;border:1px solid #ffffff;}
div.k2TopCommentersBlock ul li span.tcLatestCommentDate{color:#656565;}
div.k2ItemsBlock ul li a.moduleItemAuthorLink{color:#656565;}
div.k2ItemsBlock ul li img.moduleItemAuthorAvatar{background:#e5e5e5;border:1px solid #ffffff;}
div.k2ItemsBlock ul li p.moduleItemIntrotext a.moduleItemImage img{background:#e5e5e5;border:1px solid #ffffff;}
div.k2ItemsBlock ul li a.moduleItemComments,
div.k2ItemsBlock ul li span.moduleItemHits{border-color:#e5e5e5 !important;color:#656565;}
div.k2ItemsBlock ul li a.moduleItemComments:hover{color:#08c;}
div.k2UserBlock p img{background:#e5e5e5;border:1px solid #ffffff;}
div.k2AuthorsListBlock ul li img.abAuthorAvatar{background:#e5e5e5;border:1px solid #ffffff;}
div.k2BreadcrumbsBlock span.bcTitle{color:#656565;}
table.calendar{background:#e5e5e5;border-collapse:collapse;}
table.calendar tr td{background:#e5e5e5;border:1px solid #ffffff;}
table.calendar tr td.calendarNavMonthPrev{background:#e5e5e5;}
table.calendar tr td.calendarCurrentMonth{background:#e5e5e5;}
table.calendar tr td.calendarNavMonthNext{background:#e5e5e5;}
table.calendar tr td.calendarDayName{background:#f5f5f5;}
table.calendar tr td.calendarDateEmpty{background:#f5f5f5;}
table.calendar tr td.calendarDateLinked a:hover{background:#08c;color:#ffffff;}
table.calendar tr td.calendarToday{background:#08c;color:#ffffff;}
table.calendar tr td.calendarTodayLinked{background:#08c;color:#ffffff;}
table.calendar tr td.calendarTodayLinked a{color:#151515;}
table.calendar tr td.calendarTodayLinked a:hover{background:#08c;color:#ffffff;}
div.k2CategorySelectBlock form select{background:#e5e5e5;border:1px solid #ffffff;color:#353535;}
#jac-sort a:hover,
#jac-sort a:focus,
#jac-sort a:active{color:#08c !important;}
.jac-sort-by,
.jac-sort-by-active-desc,
.jac-sort-by-active-asc{background-image:url("../../images/light-comment-theme/status-of-tag-a.png");}
#jac-sort a.jac-sort-by-active-desc:link,
#jac-sort a.jac-sort-by-active-asc:link{color:#08c !important;}
#jac-wrapper .jac-addnew a{background:#e5e5e5;border-color:#fff;color:#353535;}
#jac-wrapper .jac-addnew #jac_span_post_new_comment{background:#e5e5e5;border-color:#fff;color:#353535;}
#jac-wrapper li div label, #jac-wrapper li span label{color:#353535;}
#jac-wrapper label.description{color:#353535;}
#jac-wrapper input, #jac-wrapper textarea, #jac-wrapper select{background-image:url(../../images/white/grad-bg.gif);background-color:#e5e5e5;border-color:#fff;color:#353535;}
#jac-wrapper input.text, #jac-wrapper input.search, #jac-wrapper textarea.textarea{background-image:url(../../images/white/grad-bg.gif);background-color:#e5e5e5;border-color:#fff;}
#jac-wrapper input.text.ja-error,
#jac-wrapper #textCaptcha.ja-error{border-color:#cc0000;}
#jac-wrapper #jac_image_captcha{background:#e5e5e5;border-color:#fff !important;}
#jac-wrapper #textCaptcha{color:#353535;}
#jac-wrapper button.link{color:#08c;}
#jac-wrapper button.link:hover{color:#08c;}
p.ja-error{color:#cc0000;}
#jac-wrapper span.required{color:#cc0000 !important;}
#jac-wrapper .form-comment textarea{border-radius:5px;}
#jac-wrapper .form-comment textarea#newcommentedit{border-color:#fff;}
#jac-wrapper .form-userdata input.text{color:#353535;}
#jac-wrapper .form-actions{background-image:url(../../images/white/grad-bg.gif);background-color:#e5e5e5;border-color:#fff;}
#jac-wrapper .form-actions .form-act-smiley a{background-image:url(../../images/light-comment-theme/icon-smileys.png) !important;}
#jac-wrapper .form-actions .form-act-filed-open a{background-image:url(../../images/light-comment-theme/status-of-tag-a.png) !important;}
#jac-wrapper .form-actions .form-act-filed-close a{background-image:url(../../images/light-comment-theme/status-of-tag-a.png) !important;}
#jac-wrapper .form-actions .form-act-attach a{background-image:url(../../images/light-comment-theme/icon-attach.png) !important;}
#jac-wrapper .form-actions .form-act-utube a{background-image:url(../../images/light-comment-theme/icon-youtube.png) !important;}
#jac-wrapper .form-actions .form-act-spell a{background-image:url(../../images/light-comment-theme/icon-tick.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-bold-text a{background-image:url(../../images/light-comment-theme/icon-bold.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-italic-text a{background-image:url(../../images/light-comment-theme/icon-italic.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-large a{background-image:url(../../images/light-comment-theme/icon-large.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-horizontal-rule a{background-image:url(../../images/light-comment-theme/icon-hr.gif) !important;}
#jac-wrapper .form-actions .jac-bbcode-underline-text a{background-image:url(../../images/light-comment-theme/icon-u.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-line-through-text a{background-image:url(../../images/light-comment-theme/icon-s.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-subscript a{background-image:url(../../images/light-comment-theme/icon-sub.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-superscript a{background-image:url(../../images/light-comment-theme/icon-sup.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-quotation a{background-image:url(../../images/light-comment-theme/icon-quote.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-link a{background-image:url(../../images/light-comment-theme/icon-link.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-image a{background-image:url(../../images/light-comment-theme/icon-img.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-medium a{background-image:url(../../images/light-comment-theme/icon-medium.png) !important;}
#jac-wrapper .form-actions .jac-bbcode-bullet-list-text a{background-image:url(../../images/light-comment-theme/icon-ul.png) !important;}
#jac-wrapper .form-actions .form-act-bbcode-status{color:#92ccf2;}
#jac-wrapper .form-actions .form-act-bbcode-status a{border-bottom:1px dotted #92ccf2;color:#92ccf2;}
#jac-wrapper .form-actions .form-act-bbcode-status a:hover{border-bottom:1px dotted #fff;color:#353535;}
#jac-wrapper .form-actions .form-act-bbcode{color:#92ccf2;}
#jac-wrapper .form-actions .form-act-bbcode a:hover{color:#353535;}
#jac-wrapper h2.componentheading span{color:#151515;}
#jac-wrapper ol.comment-list li.list-item{border-bottom:1px solid #fff;}
#jac-wrapper ol.comment-list .jac-childen-array li.list-item{border-top:1px solid #fff;}
#jac-wrapper ol.comment-list div.jac-childen-array{background-color:transparent;}
#jac-wrapper ol.comment-list .comment-byadmin div.jac-childen-array{border-top:1px solid #fff;}
#jac-wrapper ol.comment-list .comment-ispending div.jac-childen-array{border-top:1px solid #fff;}
#jac-wrapper .avatar{background-color:#e5e5e5;border-color:#fff;}
#jac-wrapper #jac-container-textarea{background-image:url(../../images/white/grad-bg.gif);background-color:#e5e5e5;border-radius:5px;border-color:#fff;}
#jac-wrapper .comment-heading a.comment-user,
#jac-wrapper .comment-heading span.comment-user{color:#151515;}
#jac-wrapper .comment-heading span{color:#92ccf2;}
#jac-wrapper .comment-heading span.class_2dayago{color:#92ccf2;}
#jac-wrapper .comment-text p{color:#353535;}
#jac-wrapper .comment-quotecontent{color:#92ccf2;}
#jac-wrapper a.comment-quotefrom{color:#08c;}
#jac-wrapper a.comment-quotefrom strong{color:#08c;}
#jac-wrapper .comment-quoteclose{}
#jac-wrapper .comment-ranking span.voteup-btn{}
#jac-wrapper .comment-ranking span.votedown-btn{}
#jac-wrapper .comment-report a.report-btn{background-image:url(../../images/light-comment-theme/flag.png);}
#jac-wrapper .comment-report a.report-btn:hover{background-image:url(../../images/light-comment-theme/flag.png);}
#jac-wrapper .comment-report span.report-btn{background-image:url(../../images/light-comment-theme/flag.png);}
#jac-wrapper .comment-report .jac-undo-report{background-image:url(../../images/light-comment-theme/undo.png);}
#jac-wrapper .comment-menu .menu-content ul{background-color:#e5e5e5;border-color:#fff;}
#jac-wrapper .comment-menu .menu-content li{border-bottom:1px solid #fff;}
#jac-wrapper .comment-menu .menu-content li a{color:#353535;}
#jac-wrapper .comment-menu .menu-content li a:hover{color:#08c;}
#jac-wrapper .comment-admin a.admin-btn{background-image:url(../../images/light-comment-theme/icon-config.png);color:#353535;}
#jac-wrapper .status-isapproved span.status-btn{color:#08c;}
#jac-wrapper .status-isunapproved span.status-btn{color:#08c;}
#jac-wrapper .status-isspam span.status-btn{color:#cc0000;}
#jac-wrapper .comment-showreply a.showreply-btn{color:#92ccf2;}
#jac-wrapper .comment-showreply a.showreply-btn:hover{color:#08c;}
#jac-wrapper .comment-showreply a.hidereply-btn{color:#92ccf2;}
#jac-wrapper .comment-showreply a.hidereply-btn:hover{color:#08c;}
#jac-wrapper li.comment-hasreply .comment-replycontent{background-image:url(../../images/light-comment-theme/reply-tree.gif);}
#jac-wrapper .comment-byadmin .comment-heading .comment-user{background-image:url(../../images/light-comment-theme/tag-admin.gif);}
#jac-wrapper .comment-byyou .comment-heading .comment-user{background-image:url(../../images/light-comment-theme/tag-you.gif);}
#jac-wrapper ol.comment-list li.comment-byothers .comment-contentholder{background-color:#e5e5e5;border-color:#fff;}
#jac-wrapper .rank-normal{color:#353535;}
#jac-wrapper .rank-low{color:#92ccf2;}
#jac-wrapper .rank-high .comment-rankingresult{color:#08c;}
#jac-wrapper .comment-ispending{border-color:#08c !important;}
#jac-wrapper .comment-ispending .badge-pending{}
#jac-wrapper .pagination{border-top:1px solid #fff;}
#jac-msg-succesful, #system-message dd.message ul{background:#08c;color:#151515;border-radius:3px;}
#jac-loader{background:#08c;color:#151515;border-radius:3px;}
#jac-wrapper .form-upload{background:#e5e5e5;border-color:#fff;}
#jac-wrapper #jac-upload{background-color:#e5e5e5;border-color:#fff;}
#jac-wrapper ol li.row0{background-color:#e5e5e5;}
.jac-childen-array .row0{background-color:transparent !important;}
.jac-act-button{display:none !important;}